<div class="container">

    <h1>Vzdelanie</h1>

    <div class="conEducation">
        <h2>FAKULTA - EKONOMIKA A MANAGEMENT</h2>
        <h3>Odbor - Finance</h3>
        <h3>Bankovní institut vysoká škola Praha / September 2012 - September 2014</h3>
    </div>

    <div class="conEducation">
        <h2>FAKULTA - FINANCE</h2>
        <h3>Odbor - Bankovní management</h3>
        <h3>Bankovní institut vysoká škola Praha / September 2008 - Jún 2011</h3>
    </div>


    <div class="conEducation">
        <h2>SOŠT KUKUČÍNOVA 483/12</h2>
        <h3>Programátor obrábacích a zváracích strojov a zariadení</h3>
        <h3>Poprad, Slovenská republika / September 2003 - Jún 2007</h3>
    </div>

</div>