<div class="container">

    <h1>Kontakt</h1>

    <div class="column">

        <div class="con">
            <div class="contact">
                <div class="col">
                    <fa-icon [icon]="faPhone" class="icon"></fa-icon>
                    <p>+421 904 365 138</p>
                </div>
            </div>
        
            <div class="contact">
                <div class="col">
                    <fa-icon [icon]="faEnvelopeOpen" class="icon"></fa-icon>
                    <p>marianhaluska888@gmail.com</p>
                </div>
            </div>
        
            
        </div>
        
        <div class="con">
            <div class="contact">
                <div class="col">
                    <fa-icon [icon]="faHouseUser" class="icon"></fa-icon>
                    <p>Allendeho 2769/38, Poprad 05951, Slovenská republika</p>
                </div>
            </div>
        
            <div class="contact">
                <div class="col">
                    <fa-icon [icon]="faCalendarDay" class="icon"></fa-icon>
                    <p>Dátum narodenia: 30.06.1988</p>
                </div>
            </div>   
    
        </div>
    </div>



</div>