<div class="container">

    <h1>Pracovné skúsenosti</h1>

    <div class="conWork">
        <h2>KONATEĽ / SPOLOČNÍK</h2>
        <h3>Slovenská lesná, s.r.o. - Poprad</h3>
        <h3>Jún 2016 - Doteraz</h3>
    </div>

    <div class="conWork">
        <h2>MANAŽMENT VÝROBY / NÁKUPCA / KONŠTRUKTÉR</h2>
        <h3>Vatmann, s.r.o - Liptovský Hrádok</h3>
        <h3>December 2013 - September 2018</h3>
    </div>


    <div class="conWork">
        <h2>PRÍPRAVÁR VÝROBY / ZVÁRAČ</h2>
        <h3>Rijndijk Staalconstructies - Schagen, Holandsko</h3>
        <h3>Marec 2012 - September 2012</h3>
    </div>

    <div class="conWork">
        <h2>STROJNÝ ZÁMOČNÍK / ZVÁRAČ</h2>
        <h3>Svitstroj, a.s. - Svit</h3>
        <h3>Január 2010 - December 2011</h3>
    </div>

</div>