<div class="container" id="container">

  <header>

    <nav class="full">
      <ul>
        <li><a href="#skills"><fa-icon [icon]="faLaptopCode" class="icon"></fa-icon>Znalosti</a></li>
        <li><a href="#project"><fa-icon [icon]="faNetworkWired" class="icon"></fa-icon>Projekty</a></li>
        <li><a href="#education"><fa-icon [icon]="faUserGraduate" class="icon"></fa-icon>Vzdelanie</a></li>
        <li><a href="#work"><fa-icon [icon]="faBriefcase" class="icon"></fa-icon>Pracovné skúsenosti</a></li>
        <li><a href="#contact"><fa-icon [icon]="faPhone" class="icon"></fa-icon>Kontakt </a></li>
      </ul>
    </nav>

    <nav class="small" id="small" (click)="openSideNav()">
      <fa-icon [icon]="faBars" class="icon"></fa-icon>
    </nav>

    <nav class="navRightSite" [ngClass]="{open: sideNav}">
      <div class="arrow" (click)="closeSideNav()">
        <fa-icon [icon]="faArrowAltCircleRightaXRay" class="ico"></fa-icon>
      </div>

      <ul>
        <li><a href="#skills"><fa-icon [icon]="faLaptopCode" class="icon"></fa-icon>Znalosti</a></li>
        <li><a href="#project"><fa-icon [icon]="faNetworkWired" class="icon"></fa-icon>Projekty</a></li>
        <li><a href="#education"><fa-icon [icon]="faUserGraduate" class="icon"></fa-icon>Vzdelanie</a></li>
        <li><a href="#work"><fa-icon [icon]="faBriefcase" class="icon"></fa-icon>Pracovné skúsenosti</a></li>
        <li><a href="#contact"><fa-icon [icon]="faPhone" class="icon"></fa-icon>Kontakt </a></li>
      </ul>
    </nav>

  </header>

  <div class="conHeader">

    <div class="resume">
      <h1>Resume</h1>
      <h2>Ing. Marián Haluška</h2>
      <a href="../assets/resume_marian_haluska.pdf" target="_blank"><fa-icon [icon]="faDownload" class="icon"></fa-icon> Download</a>
      
    </div>


    <div class="image">
      <img src="../assets/images/marian_haluska.jpg" alt="Photo_Marian_Haluska">

    </div>

  </div>
  
  <app-skills id="skills"></app-skills>

  <app-project id="project"></app-project>

  <app-education id="education"></app-education>

  <app-work-experiences id="work"></app-work-experiences>

  <app-contact id="contact"></app-contact>

  <a href="#container" class="arrowUp">
    <fa-icon [icon]="faArrowCircleUp" class="iconArrow"></fa-icon>
  </a>
</div>

